/* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, select {
  padding: 10px;
  margin-bottom: 20px;
  width: calc(100% - 20px);
  max-width: 400px;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  input, select {
    width: calc(100% - 10px);
  }
}

/* Стили для планшетов */
@media (min-width: 769px) and (max-width: 1024px) {
  .App {
    padding: 15px;
  }
}

/* Стили для десктопов */
@media (min-width: 1025px) {
  .App {
    padding: 20px;
  }
}
